body {
    background-color: gray;
}

h1 {
    font-family: Verdana;
    font-weight: bolder;
    font-size: 100px;
    color: whitesmoke;
    text-align: center;    
}

h2, h3, a.resume {
    text-align: center;
    color: whitesmoke;
}

a {
    text-decoration: none;
    color: whitesmoke
}

.justify {
    text-align: justify;
}
    
.fixed {
    position: fixed;
    width: 100%;
}


.grid {
    /* border: 2px blue solid; */
    width: 1920px;
    height: 1024px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 30px;
    margin: auto;

  }

  .backgroundIMG {
      background-image: url(/plane.png);
      max-width: 100%;
  }

  .bannerMid {
    grid-row-start: 6;
    grid-row-end: 8;
    grid-column: 3 / span 8;
  }

  .box {
    background-color: beige;
    color: black;
    border-radius: 5px;
    border: 2px dodgerblue solid;
  }

.wrapper {
    text-align: center;
}

.button {
    text-align: center;
}


a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    

    text-decoration: none;
    color: initial;
}



.centerText {
    line-height: 0;
    -webkit-text-stroke: 0.5px black;
}

.aboutMid {
    grid-row-start: 6;
    grid-row-end: 8;
    grid-column: 3 / span 8;
  }

.contactTop {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column: 3 / span 8;
}

.card1 {
    grid-row-start: 7;
    grid-row-end: 10;
    grid-column: 2 / span 3;
    
    
    
}

.card2 {
    grid-row-start: 7;
    grid-row-end: 10;
    grid-column: 5 / span 3;
}

.card3 {
    grid-row-start: 7;
    grid-row-end: 10;
    grid-column: 8 / span 3;
}


/*
.topbar-li {
    display: inline;
    font-size: 20px;
    color: whitesmoke;
}

.topbar {
    position: fixed;
    right: 1%;
    background-color: black;
    opacity: 0.75;
    width: 100%;
    outline: none;
    
}
*/