.gridDJ {
    
    width: 400px;
    height: 600px;
    background-image: url(/doodlebackground.png);
    position: relative;
    font-size: 200px;
    text-align: center;
}

.doodler {
    width: 60px;
    height: 85px;
    background-color: red;
    position: absolute;
    z-index: 5;
}

.platform {
    width: 85px;
    height: 15px;
    background-color: green;
    position: absolute;
}


.floatcontainer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    position: relative;
    top: 80px;
    
}

.restart {
    position: relative;
    text-align: center;
    color: whitesmoke;
    font-size: 2rem;
}

.caption {
    text-align: center;
    
}

p {
    text-align: center;
    color: whitesmoke;
}