h1 {
    font-family: Verdana;
    font-weight: bolder;
    font-size: 50px;
    color: rgb(239, 246, 247);
    text-align: center;
    
    
}


h6 {
    text-align: center;
    font-style: italic;
    font-size: 20px;
    color: white;
    background-color: teal;
}

.wrapper {
    text-align: center;
}

.button {
    text-align: center;
}

.topbar {
    position: fixed;
    right: 1%;
    background-color: black;
    opacity: 0.75;
    width: 100%;
    
}

.topbar-li {
    display: inline;
    font-size: 20px;
}

.bodyImage {
    background: url(/banner.jpg);
    background-size: cover;
    
    
    
}

banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}